<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
<script src="https://code.angularjs.org/1.5.7/angular-route.js"></script>
<script src="https://code.angularjs.org/1.5.7/angular-resource.js"></script>
<script src="app.js"></script>

<script src="http://code.jquery.com/jquery.min.js"></script>
<html ng-app="AutoBuilder">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to budget computer auto Builder</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- MORRIS CHART STYLES-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper" ng-controller="indexController">
        <!-- <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Binary admin</a>
            </div>
  <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> Last access : 30 May 2014 &nbsp; <a href="#" class="btn btn-danger square-btn-adjust">Logout</a> </div>
        </nav>    -->
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        <img src="assets/img/find_user.png" class="user-image img-responsive" />
                    </li>


                    <li>
                        <a class="active-menu" href="index.html"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="ui.html"><i class="fa fa-desktop fa-3x"></i> UI Elements</a>
                    </li>
                    <li>
                        <a href="tab-panel.html"><i class="fa fa-qrcode fa-3x"></i> Tabs & Panels</a>
                    </li>
                    <li>
                        <a href="chart.html"><i class="fa fa-bar-chart-o fa-3x"></i> Morris Charts</a>
                    </li>
                    <li>
                        <a href="table.html"><i class="fa fa-table fa-3x"></i> Table Examples</a>
                    </li>
                    <li>
                        <a href="form.html"><i class="fa fa-edit fa-3x"></i> Forms </a>
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-3x"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="blank.html"><i class="fa fa-square-o fa-3x"></i> Blank Page</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2>AutoBuilder Dashboard</h2>
                        <h5>Welcome! Love to see you back. </h5>
                    </div>
                </div>
                <!-- /. ROW  -->
                <hr />
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="panel panel-back noti-box">
                            <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-envelope-o"></i>
                </span>
                            <div class="text-box">
                                <p class="main-text">{{inventory.CPU}}</p>
                                <img id="build-spinner" class="inv-spinner" ng-src="assets/img/hourglass.svg">
                                <p class="text-muted">CPU</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="panel panel-back noti-box">
                            <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-bars"></i>
                </span>
                            <div class="text-box">
                                <p class="main-text">{{inventory.GPU}}</p>
                                <img id="build-spinner" class="inv-spinner" ng-src="assets/img/hourglass.svg">
                                <p class="text-muted">GPU</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="panel panel-back noti-box">
                            <span class="icon-box bg-color-blue set-icon">
                    <i class="fa fa-bell-o"></i>
                </span>
                            <div class="text-box">
                                <p class="main-text">{{inventory.Motherboard}}</p>
                                <img id="build-spinner" class="inv-spinner" ng-src="assets/img/hourglass.svg">
                                <p class="text-muted">Motherboards</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="panel panel-back noti-box">
                            <span class="icon-box bg-color-brown set-icon">
                    <i class="fa fa-rocket"></i>
                </span>
                            <div class="text-box">
                                <p class="main-text">{{inventory.Memory}}</p>
                                <img id="build-spinner" class="inv-spinner" ng-src="assets/img/hourglass.svg">
                                <p class="text-muted">Memory</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /. ROW  -->
                <hr />
                <div class="row">
                    <!-- <div class="col-md-6 col-sm-12 col-xs-12"> -->
                    <div>
                        <div class="panel panel-back noti-box">
                            <span class="icon-box bg-color-blue">
                    <i class="fa fa-warning"></i>
                </span>
                            <div>
                                <div class="spinner" ng-show="loading"></div>
                                <div class="text-box">

                                    <p class="main-text">Resulted build </p>
                                    <p class="text-muted">budget: {{build.budget}}</p>
                                    <p class="text-muted">type: {{build.computerType}}</p>
                                    <p class="text-muted">price: {{build.totalPrice}}</p>

                                    <!-- <p class="text-muted">Please fix these issues to work smooth</p> -->
                                    <!-- <p class="text-muted">Time Left: 30 mins</p> -->
                                    <hr />
                                    <p class="text-muted">
                                        <!-- <li >{{key}}: {{val}}</li> -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                Build List
                                            </div>
                                            <div class="panel-body">
                                                <img id="build-spinner" class="build-spinner" ng-src="assets/img/hourglass.svg">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Specs</th>
                                                                <th>Picture</th>
                                                            </tr>
                                                        </thead>
                                                        <tr ng-repeat="(key,val) in build.components">

                                                            <!-- <td>{{ val.picUrl }}</td> -->
                                                            <td>
                                                                <div ng-repeat="(spec_key, spec_val) in val">
                                                                    <li ng-if="spec_key == 'url' ">{{spec_key}} : <a href="{{spec_val}}">Buy link</a></li>
                                                                    <li ng-if="spec_key == 'price' ">{{spec_key}} : {{spec_val}}</li>
                                                                    <li ng-if="spec_key == 'name' ">{{spec_key}} : {{spec_val}}</li>
                                                                    <li ng-if="spec_key == 'specs' ">{{spec_key}} : {{spec_val}}</li>
                                                                    <div>
                                                            </td>
                                                            <td><img src="{{ val.picUrl }}" /></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    </div>
                                                    </div>
                                                </div>
                                                <!-- <table border="1">

                                        </table> -->

                                                <!-- <p ng-if="item.comp">{{item.components}}</p> -->

                                                <span class="text-muted color-bottom-txt"><i class="fa fa-edit"></i>
                               </span>
                                    </p>
                                    </div>
                                    </div>
                                </div>
                            </div>


                            <!-- <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel back-dash">
                            <i class="fa fa-dashboard fa-3x"></i><strong> &nbsp; SPEED</strong>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing sit ametsit amet elit ftr. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 ">
                        <div class="panel ">
                            <div class="main-temp-back">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-6"> <i class="fa fa-cloud fa-3x"></i> Newyork City </div>
                                        <div class="col-xs-6">
                                            <div class="text-temp"> 10° </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>table result
                        <div class="panel panel-back noti-box">
                            <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-desktop"></i>
                </span>
                            <div class="text-box">
                                <p class="main-text">Display</p>
                                <p class="text-muted">Looking Good</p>
                            </div>
                        </div>

                    </div>

                </div> -->


                        </div>
                        <!-- /. PAGE INNER  -->
                    </div>
                    <!-- /. PAGE WRAPPER  -->
                </div>
                <!-- /. WRAPPER  -->
                <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
                <!-- JQUERY SCRIPTS -->
                <script src="assets/js/jquery-1.10.2.js"></script>
                <!-- BOOTSTRAP SCRIPTS -->
                <script src="assets/js/bootstrap.min.js"></script>
                <!-- METISMENU SCRIPTS -->
                <script src="assets/js/jquery.metisMenu.js"></script>
                <!-- MORRIS CHART SCRIPTS -->
                <script src="assets/js/morris/raphael-2.1.0.min.js"></script>
                <!-- <script src="assets/js/morris/morris.js"></script> -->
                <!-- CUSTOM SCRIPTS -->
                <script src="assets/js/custom.js"></script>


</body>

</html>
